body{
    background-color: #303030;
    height: 100%;
    margin: 0;
    font-size: 130%;
}

div#headerTitle{
    background-color: #494949;
    flex: 0 1 auto;
    box-shadow: 0 10px 20px 5px rgb(37, 37, 37);
    display: flex;
    vertical-align: middle;
    transition: 1.5s;
    width: 100%;
    position: fixed;
}

a{
    color: inherit;
}

#imageTitle{
    width: 75px;
    height: 75px;
    padding: 10px 20px;
    transition: 1.5s;
    filter: drop-shadow(0 5px 10px rgb(48, 48, 48));
}


#textTitle{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 140%; 
    text-shadow: 0 5px 20px rgb(48, 48, 48);
    transition: 1.5s;
}


div#window{
    height: 100%;
    display: flex;
}

.imageNav{
    width: 85px;
    height: 85px;
    vertical-align: middle;
    transition: 1s;
}

.imageNavBox{
    display: inline-block;
    height: 100vh;
    vertical-align: middle;
} 

div.innerWindow{
    height: 100vh;
}

div#leftDiv{
    float: left;
}

div#rightDiv{
    float: right;
}

div#centerDiv{
    float: left;
    width: 100%;
    text-align: left;
    vertical-align: center;
    display:flex;
    justify-content:center;
    align-items:center;
}

div#displayZone{
    font-family:'Segoe UI', sans-serif;
    color: white;
    max-width: 65%;
    margin-top: 100px;
}

td, th{
    padding: 15px;
    border: 1px solid #fff;
}

th{
    font-family:'Open Sans', sans-serif;
}


table{
    border: 5px solid #fff;
    margin: 40px 0px;
}

div#divTable, .mainTextCenter{
    text-align: center;
}

.discoverWorld#sea:hover{
    color:teal;
    cursor: pointer;
}

.discoverWorld#forest:hover{
    color:chartreuse;
    cursor: pointer;
}


#life-seaBox, #life-forestBox{
    margin-top: 5%;
    text-align: center;
}

.life-seaPictures, .life-forestPictures{
    width: 25%;
    height: 25%;
    border-radius: 30px;
    border: 5px solid #fff;
    box-shadow: 0 10px 20px 5px rgb(24, 25, 29);
}

.life-seaText, .life-forestText{
    font-family:'Open Sans', sans-serif;
    color: #fff;
    padding-bottom: 5%;
}

.live-infoText{
    color: #fff;
    padding-bottom: 5%;
    max-width: 50%;
    transform: translate(50%);
    text-shadow: 0 5px 10px rgb(48, 48, 48);
}